*{
  font-family:  Montserrat;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: #FFFDFC;
}

h2{
  text-decoration: underline;
}

img{
  width:100%;
  height: auto;
}

/* Nav Styling */

nav{
  display:flex;
  justify-content: space-between;

  position:sticky;
  left:0;
  right:0;
  width:100%;
  height:auto;

  background-color: black;

  border-bottom:2px solid white;
}

section{

}

.nav-element{
  display:flex;
  align-items: stretch;
}

.nav-logo{
  flex-direction: column;

  padding: .5rem;


  color:#FFF5EA;
  text-decoration: none;

  border-bottom:4px solid white;
}

.nav-logo *{
  border-bottom:none;
}

.logo-text{
  display:flex;
  align-items: center;
  justify-content: left;


}

#logo-heading{
  padding-bottom:0;
}

#logo-caption{
  padding-top:0;
}

.nav-menu{
  display:flex;
  align-items: stretch;
}

.nav-menu-button{
  display:flex;
  align-items: center;
  padding: 1rem;

  color:#FFF5EA;
  text-decoration: none;


}

.nav-menu-button:hover{
  background-color: #242221;
  transition: background-color 0.2s;

}

.nav-menu-button:focus{
  background-color: #242221;
  border-bottom-color: : #FFF5EA;

}

.nav-demo-reel{
  border-bottom: 4px solid #FFF5EA
}
.nav-biography{
  border-bottom: 4px solid #FFA62400
}
.nav-contact-me{
  border-bottom: 4px solid #FFA62400
}

/* body styling */

.content-margin{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-body{
  margin-top:2rem;
  display:flex;
}



/* hero styling */
.hero-header{
  display:flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  height:5rem;
  background-color:#242221;
  align-items: center;
  justify-content: center;
}

.hero-text{
  width:100%;
  text-align: center;

}

.hero-text-heading{

}

.hero-text-caption{

}

/* project list styling */

.project-list{
  display:flex;
  flex-wrap: wrap;
  flex:1 1 100%;
}

.project-listing{
  text-decoration: none;

  color: #FFF5EA;


  display:flex;
  flex-wrap: wrap;
  flex: 1 1 400px;


  border-bottom: 1px solid #FFF5EA;
}

.project-listing:hover{
  background-color: #242221;
  transition: background-color .2s
}

.project-img-container{
  width:100%;
}

.project-listing-img{
  width: 100%;
  height: auto;


}

.project-listing-heading{
  width:100%;
  padding: 1rem;
  text-align: center;


}

/* content styling */

h1{

}

h2{


}

h3{

}

p{

}

li{
  list-style-type: circle;
}

.intext-link{
  color: #FFFDFC;
}

.intext-link:hover{
  color: #E8A78C;
}

.button{
  display: inline;
  border:2px solid #FFFDFC;
  padding:1rem;
  padding-left:2rem;
  padding-right:2rem;
  color: #FFFDFC;
  background-color: black;
  text-decoration: none;
}

/* page transitions */

#mainpage{



}

#fx01-page{

}

.fadeOut{
  opacity:0;
  transition: opacity 0.4s;
}

.fadeIn{
  opacity:1;
  transition: opacity 0.4s;
}

.hidden{
  display: none;
}

/** contact page styling **/

.content-body{
  display:flex;
  justify-content: center;
  margin:2rem;
}

form{
  display: flex;
  width:50%;
  flex-direction: column;
}



.form-field{
  margin-bottom:2rem;
  display: flex;
  justify-content: space-between;
}

.form-msg-box-container{
  display: flex;
  flex-direction: column;
}

.form-msg-box{
  width:100%;
  height:5rem;
}

.form-button-container{

}

/** project details styling **/

.project-details{
  margin-top:2rem;
}

.row{
  margin: 2rem 3% 0rem 3%;
  display: flex;
}

.right-column{
  margin-left: 1rem;

}

.left-column{
  margin-right: 1rem;
  display:flex;

  justify-content: flex-end;
}

.proj-detail-img-cont{
  display: flex;
  flex:0 1 100%;
}

.proj-detail-img{
  width:100%;
  height:100%;
}
