*{
  font-family:  Montserrat;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: #FFFDFC;
}

/* Nav Styling */

nav{
  display:flex;
  justify-content: space-between;

  position:sticky;
  left:0;
  right:0;
  width:100%;
  height:auto;

  background-color: black;

  border-bottom:2px solid white;
}



.nav-element{
  display:flex;
  align-items: stretch;
}

.nav-logo{
  padding:1rem;
  color:#FFF5EA;
  text-decoration: none;

  border-bottom:4px solid white;
}

.nav-logo *{
  border-bottom:none;
}

.logo-text{
  display:flex;
  align-items: center;
  justify-content: left;


}

.logo-text-heading{

}

.logo-text-caption{


}

.nav-menu{
  display:flex;
  align-items: stretch;
}

.nav-menu-button{
  display:flex;
  align-items: center;
  padding: 1rem;

  color:#FFF5EA;
  text-decoration: none;


}

.nav-menu-button:hover{
  background-color: black;
  transition: background-color 0.2s;

}

.nav-menu-button:focus{
  background-color: black;
  border-bottom-color: : #FFF5EA;

}

.nav-demo-reel{
  border-bottom: 4px solid #FFF5EA
}
.nav-biography{
  border-bottom: 4px solid #FFA62400
}
.nav-contact-me{
  border-bottom: 4px solid #FFA62400
}

/* body styling */

.content-margin{
  display:flex;
  flex-wrap: wrap;
}

/* hero styling */
.hero-header{
  display:flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  height:5rem;
  background-color:#242221;
  align-items: center;
  justify-content: center;
}

.hero-text{
  width:100%;
  text-align: center;

}

.hero-text-heading{

}

.hero-text-caption{

}

/* project list styling */

.project-list{
  display:flex;
  flex-wrap: wrap;

}

.project-listing{
  display:flex;
  flex-wrap: wrap;
  flex: 1 1 400px;

  border-bottom: 1px solid #FFF5EA;
}

.project-img-container{
  display: flex;
  flex: 1 1 auto;

}

.project-img{
  width: 100%;
  height: 100%;

}

.project-listing-heading{
  width:100%;
  padding: 1rem;
  text-align: center;


}
